<div mat-dialog-content>
 
    <h2 class="example-h2">Filters</h2>
   <form [formGroup]="form" >
      <mat-grid-list cols="3" rowHeight="70px">
     <mat-grid-tile [colspan]="3" [rowspan]="1">
         <mat-form-field class="ancho">
           <mat-label>Is Activo</mat-label>
           <mat-select [placeholder]="'Seleccione ...'" formControlName="filters">
             <mat-option *ngFor="let value of filters" [value]="value">
               {{value}}
             </mat-option>
           </mat-select>
         
         </mat-form-field>
         </mat-grid-tile>
       <mat-grid-tile [colspan]="3" [rowspan]="1">
        <mat-form-field class="ancho">
          <mat-label>Category</mat-label>
          <input type="text" matInput [formControl]="categories" [matAutocomplete]="auto" required> 
          
          
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
              {{option.name}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>
     </form>
    

</div>
<div mat-dialog-actions>
    <button mat-raised-button style="margin-right: 20px;" (click)="closeDialog()">Cancel</button>
    <button mat-raised-button color="primary" type="submit" (click)="confirm()"
      cdkFocusInitial>Confirm</button>
</div>